<a href="https://colab.research.google.com/github/jayU000/python202206/blob/main/pythonbasic07_starbucks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 스타벅스 입지 전략 분석

# 스타벅스는 거주인구를 기준으로 입지를 선정할까... 근무자수를 기준으로 입지를 선정할까?

# 서울시 구별 스타벅스의 숫자 파악

In [43]:
# 코랩에서 셀레니움 크롬 사용 설정

!pip install selenium
!apt-get update
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (4.2.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.21.0)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: wsproto>=0.14 in /usr/local/lib/python3.7/dist-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (22.0.0)
Requirement already satisfied: cryptography>=1.3.4 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (37.0.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (2022.5.18.1)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from h11<1,>=0.9.0->wsproto>=0.14->trio-websocket~=0.9->selenium) (4.2.0)
Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Get:2 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:5 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:7 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Ign:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 252 kB in 3s (84.0 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
chromium-chromedriver is already the newest version (101.0.4951.64-0ubuntu0.18.04.1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 87 not upgraded.
cp: '/usr/lib/chromium-browser/chromedriver' and '/usr/bin/chromedriver' are the same file

In [44]:
# 크롬에서 별도의 웹 브라우저를 띄울수 없기 때문에 가상화

import time
from selenium import webdriver
from bs4 import BeautifulSoup as bs

options = webdriver.ChromeOptions()
options.add_argument('--headless')        # Head-less 설정
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
driver = webdriver.Chrome('chromedriver', options=options)

#container > div > form > fieldset > div > section > article.find_store_cont > article > header.loca_search > h3 > a

In [45]:

driver.get('https://www.starbucks.co.kr/store/store_map.do')

response = driver.page_source
soup = bs(response)

In [46]:
print(len(soup.select('li')))

area_btn = '#container > div > form > fieldset > div > section > article.find_store_cont > article > header.loca_search > h3 > a'
driver.find_element_by_css_selector(area_btn).click()

399

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead
  after removing the cwd from sys.path.

In [47]:
seoul_btn = '#container > div > form > fieldset > div > section > article.find_store_cont > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a'
driver.find_element_by_css_selector(seoul_btn).click()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead

In [48]:
all_btn = '#mCSB_2_container > ul > li:nth-child(1) > a'
driver.find_element_by_css_selector(all_btn).click()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: find_element_by_css_selector is deprecated. Please use find_element(by=By.CSS_SELECTOR, value=css_selector) instead

In [49]:

response = driver.page_source
soup = bs(response)

len(soup.select('li.quickResultLstCon'))

# 스타벅스 사이트에서의 서울 지역 매장 개수는 580개 있지만
# 읽어온 결과는 약간의 차이가 있다. 580

590

In [50]:
stars = soup.select('li.quickResultLstCon')

star = stars[0]
print(star)

<li class="quickResultLstCon" data-code="3969" data-hlytag="null" data-index="0" data-lat="37.567399" data-long="126.978900" data-name="무교로" data-storecd="1724" style="background:#fff"> <strong data-my_siren_order_store_yn="N" data-name="무교로" data-store="1724" data-yn="N">무교로  </strong> <p class="result_details">서울특별시 중구 무교로 15 (무교동)<br/>1522-3232</p> <i class="pin_general">리저브 매장 2번</i></li>

In [68]:
# 지점명
name = star['data-name']
# 위도
lat = star['data-lat']    # 키값 밸류값 형태의 딕셔너리 추출
# 경도
lng = star['data-long']
# 주소
addr = str(star.select('p.result_details')[0]).split('<br/>')[0].split('>')[1]
# 전화번호
tel = str(star.select('p.result_details')[0]).split('<br/>')[1].split('<')[0]

print(addr)
print(tel)

서울특별시 중구 무교로 15 (무교동)
1522-3232

In [77]:
stars = soup.select('li.quickResultLstCon')

import pandas as pd

star_data = []

for star in stars :
  # 
  name = star['data-name']
  # 위도
  lat = star['data-lat']    # 키값 밸류값 형태의 딕셔너리 추출
  # 경도
  lng = star['data-long']
  # 주소
  addr = str(star.select('p.result_details')[0]).split('<br/>')[0].split('>')[1]
  # 전화번호
  tel = str(star.select('p.result_details')[0]).split('<br/>')[1].split('<')[0]

  star_data.append([name, lat, lng, addr, tel])

df = pd.DataFrame(star_data, columns=['지점명','위도', '경도', '주소', '전화번호'])

df2 = df.drop_duplicates()
print(df2)

         지점명                 위도                  경도  \
0        무교로          37.567399          126.978900
1    한국프레스센터          37.567381          126.977859
2        무교동        37.56781712          126.978738
3         시청          37.566290          126.979808
4        환구단          37.564448          126.979157
..       ...                ...                 ...
585     중랑구청        37.60538908         127.0957558
586     사가정역          37.579594          127.087966
587      상봉역           37.59689           127.08647
588       묵동          37.615368          127.076633
589      중화역  37.60170912407773  127.07841136432036

                                        주소       전화번호
0                    서울특별시 중구 무교로 15 (무교동)  1522-3232
1                서울특별시 중구 세종대로 124 (태평로1가)  1522-3232
2           서울특별시 중구 무교로 21 (무교동) 코오롱빌딩 1층  1522-3232
3     서울특별시 중구 을지로 19, 삼성화재삼성빌딩 1층 (을지로1가)  1522-3232
4                   서울특별시 중구 소공로 112 (소공동)  1522-3232
..                                     ...        ...
585                       서울특별시 중랑구 신내로 72  1522-3232
586                      서울특별시 중랑구 면목로 310  1522-3232
587                서울특별시 중랑구 망우로 307 (상봉동)  1522-3232
588  서울특별시 중랑구 동일로 952 (묵동, 로프트원 태릉입구역) 1층  1522-3232
589                 서울특별시 중랑구 봉화산로 35 1,2층  1522-3232

[580 rows x 5 columns]

In [ ]:
import pandas as pd

In [ ]:
# 서울시 구별 스타벅스 매장수 파악

sgg_names = []

for addr in df2['주소'] :
  sgg =addr.split()[1]
  sgg_names.append(sgg)

df2['시군구명'] = sgg_names
print(df2)

freq = df2.groupby(['시군구']).count() 
print(freq)

In [99]:
# 좀더 보기 좋게 표현

star_count = df2.pivot_table(index='시군구명', values='지점명', aggfunc='count').rename(columns={'지점명':'매장수'})

star_count

      매장수
시군구명
강남구    88
강동구    16
강북구     6
강서구    23
관악구    12
광진구    20
구로구    12
금천구    13
노원구    13
도봉구     4
동대문구    9
동작구    11
마포구    34
서대문구   21
서초구    48
성동구    13
성북구    14
송파구    33
양천구    17
영등포구   41
용산구    23
은평구    10
종로구    39
중구     53
중랑구     7

In [113]:
# 서울시 구별 인구수, 종사자 수 읽어오기

seoul_pop = pd.read_excel('sgg_pop.xlsx', thousands=',')
seoul_biz = pd.read_excel('sgg_biz.xlsx')

seoul_pop

    시군구명  주민등록인구
0    종로구  177023
1     중구  138102
2    용산구  250844
3    성동구  316113
4    광진구  386292
5   동대문구  374039
6    중랑구  431283
7    성북구  484359
8    강북구  342669
9    도봉구  371095
10   노원구  614603
11   은평구  474165
12  서대문구  336490
13   마포구  392087
14   양천구  504928
15   강서구  578257
16   구로구  449187
17   금천구  262337
18  영등포구  440863
19   동작구  407966
20   관악구  546814
21   서초구  432888
22   강남구  570913
23   송파구  689909
24   강동구  490945

In [116]:
# 세 개의 데이터 프레임을 하나로 병합

seoul_sgg = pd.merge(seoul_pop, seoul_biz, how = 'left', on = '시군구명')
seoul_sgg

seoul_sgg = pd.merge(seoul_sgg, star_count, how='right',on='시군구명')
seoul_sgg

    시군구명  주민등록인구    종사자수   사업체수  매장수
0    강남구  570913  711278  73590   88
1    강동구  490945  143061  30079   16
2    강북구  342669   69787  18654    6
3    강서구  578257  199289  33273   23
4    관악구  546814  119180  26235   12
5    광진구  386292  123689  24531   20
6    구로구  449187  210506  37445   12
7    금천구  262337  223058  30080   13
8    노원구  614603  114736  25827   13
9    도봉구  371095   68669  18455    4
10  동대문구  374039  143858  32994    9
11   동작구  407966  103915  19609   11
12   마포구  392087  252534  36504   34
13  서대문구  336490  111615  19612   21
14   서초구  432888  439963  47061   48
15   성동구  316113  162019  26130   13
16   성북구  484359  113893  24690   14
17   송파구  689909  302517  45375   33
18   양천구  504928  119443  26297   17
19  영등포구  440863  362524  44512   41
20   용산구  250844  133446  21178   23
21   은평구  474165   87693  24179   10
22   종로구  177023  269106  40871   39
23    중구  138102  423808  66190   53
24   중랑구  431283   99241  27287    7

In [117]:
# 주민등록 인구 십만명당 매장 수

seoul_sgg['거주자_십만명당_매장수'] = seoul_sgg['매장수'] / (seoul_sgg['주민등록인구']/100000)
seoul_sgg

    시군구명  주민등록인구    종사자수   사업체수  매장수  거주자_십만명당_매장수
0    강남구  570913  711278  73590   88     15.413907
1    강동구  490945  143061  30079   16      3.259021
2    강북구  342669   69787  18654    6      1.750961
3    강서구  578257  199289  33273   23      3.977470
4    관악구  546814  119180  26235   12      2.194530
5    광진구  386292  123689  24531   20      5.177431
6    구로구  449187  210506  37445   12      2.671493
7    금천구  262337  223058  30080   13      4.955458
8    노원구  614603  114736  25827   13      2.115187
9    도봉구  371095   68669  18455    4      1.077891
10  동대문구  374039  143858  32994    9      2.406166
11   동작구  407966  103915  19609   11      2.696303
12   마포구  392087  252534  36504   34      8.671545
13  서대문구  336490  111615  19612   21      6.240899
14   서초구  432888  439963  47061   48     11.088318
15   성동구  316113  162019  26130   13      4.112453
16   성북구  484359  113893  24690   14      2.890418
17   송파구  689909  302517  45375   33      4.783240
18   양천구  504928  119443  26297   17      3.366817
19  영등포구  440863  362524  44512   41      9.299941
20   용산구  250844  133446  21178   23      9.169045
21   은평구  474165   87693  24179   10      2.108971
22   종로구  177023  269106  40871   39     22.031036
23    중구  138102  423808  66190   53     38.377431
24   중랑구  431283   99241  27287    7      1.623064

In [118]:
# 종사자수 십만명당 매장 수

seoul_sgg['종사자수_십만명당_매장수'] = seoul_sgg['매장수'] / (seoul_sgg['종사자수']/100000)
seoul_sgg

    시군구명  주민등록인구    종사자수   사업체수  매장수  거주자_십만명당_매장수  종사자수_십만명당_매장수
0    강남구  570913  711278  73590   88     15.413907      12.372096
1    강동구  490945  143061  30079   16      3.259021      11.184040
2    강북구  342669   69787  18654    6      1.750961       8.597590
3    강서구  578257  199289  33273   23      3.977470      11.541028
4    관악구  546814  119180  26235   12      2.194530      10.068803
5    광진구  386292  123689  24531   20      5.177431      16.169587
6    구로구  449187  210506  37445   12      2.671493       5.700550
7    금천구  262337  223058  30080   13      4.955458       5.828081
8    노원구  614603  114736  25827   13      2.115187      11.330358
9    도봉구  371095   68669  18455    4      1.077891       5.825045
10  동대문구  374039  143858  32994    9      2.406166       6.256169
11   동작구  407966  103915  19609   11      2.696303      10.585575
12   마포구  392087  252534  36504   34      8.671545      13.463534
13  서대문구  336490  111615  19612   21      6.240899      18.814675
14   서초구  432888  439963  47061   48     11.088318      10.910008
15   성동구  316113  162019  26130   13      4.112453       8.023750
16   성북구  484359  113893  24690   14      2.890418      12.292239
17   송파구  689909  302517  45375   33      4.783240      10.908478
18   양천구  504928  119443  26297   17      3.366817      14.232730
19  영등포구  440863  362524  44512   41      9.299941      11.309596
20   용산구  250844  133446  21178   23      9.169045      17.235436
21   은평구  474165   87693  24179   10      2.108971      11.403419
22   종로구  177023  269106  40871   39     22.031036      14.492430
23    중구  138102  423808  66190   53     38.377431      12.505663
24   중랑구  431283   99241  27287    7      1.623064       7.053536

In [119]:
# 시업체수 만개당 매장 수

seoul_sgg['시업체수_만개당_매장수'] = seoul_sgg['매장수'] / (seoul_sgg['사업체수']/10000)
seoul_sgg

,시군구명,주민등록인구,종사자수,사업체수,매장수,거주자_십만명당_매장수,종사자수_십만명당_매장수,시업체수_만개당_매장수
0,강남구,570913,711278,73590,88,15.413907,12.372096,11.958146
1,강동구,490945,143061,30079,16,3.259021,11.184040,5.319326
2,강북구,342669,69787,18654,6,1.750961,8.597590,3.216468
3,강서구,578257,199289,33273,23,3.977470,11.541028,6.912512
4,관악구,546814,119180,26235,12,2.194530,10.068803,4.574042
5,광진구,386292,123689,24531,20,5.177431,16.169587,8.152949
6,구로구,449187,210506,37445,12,2.671493,5.700550,3.204700
7,금천구,262337,223058,30080,13,4.955458,5.828081,4.321809
8,노원구,614603,114736,25827,13,2.115187,11.330358,5.033492
9,도봉구,371095,68669,18455,4,1.077891,5.825045,2.167434
10,동대문구,374039,143858,32994,9,2.406166,6.256169,2.727769
11,동작구,407966,103915,19609,11,2.696303,10.585575,5.609669
12,마포구,392087,252534,36504,34,8.671545,13.463534,9.314048
13,서대문구,336490,111615,19612,21,6.240899,18.814675,10.707730
14,서초구,432888,439963,47061,48,11.088318,10.910008,10.199528
15,성동구,316113,162019,26130,13,4.112453,8.023750,4.975124
16,성북구,484359,113893,24690,14,2.890418,12.292239,5.670312
17,송파구,689909,302517,45375,33,4.783240,10.908478,7.272727
18,양천구,504928,119443,26297,17,3.366817,14.232730,6.464616
19,영등포구,440863,362524,44512,41,9.299941,11.309596,9.210999
20,용산구,250844,133446,21178,23,9.169045,17.235436,10.860327
21,은평구,474165,87693,24179,10,2.108971,11.403419,4.135820
22,종로구,177023,269106,40871,39,22.031036,14.492430,9.542218
23,중구,138102,423808,66190,53,38.377431,12.505663,8.007252
24,중랑구,431283,99241,27287,7,1.623064,7.053536,2.565324